.Logout__btn{ 
    position: absolute;
    z-index: 10;
    right: 2rem;
    font-weight: bold;
    color: #ffffff;
    background: #0000005e;
    border-radius: 5px;
    padding: .5rem;
    transition: all .5s;
}

.Logout__btn:hover{
    background: #0d053576;
    box-shadow: 0px 0px 0px 1px #ee756d;
    padding: .5rem 1rem;
}