button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s;
}
.main__div {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    /* background: #c2d8a9;
    background: #1a1515; */
}

nav {
    max-width: 100%;
    margin: 0 auto;
    height: 12vh;
    display: flex;
    /* background: #4fa2d9; */
    background: #3a1b32;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}

nav>h2 {
    font-size: 4vh;
    font-weight: 900;
    font-family: monospace;
}

.add-todo {
    position: relative;
}

.add__btn {
    /* background: #2e0c0c; */
    color: rgba(191, 20, 20, 0.811);
    width: 100%;
    position: relative;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
}

.add__btn::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #2abdcd82;
}

.add__btn>button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.323);
    border-radius: .5rem;
    color: rgba(0, 0, 0, 0.64);
    width: 3vw;
    font-size: 2vw;
    font-weight: 600;
    margin: 0 2rem;
    transition: .5s;
}

.add__btn>button:hover {
    cursor: pointer;
    background: #373561;
    color: rgb(255, 255, 255);
}

.add__btn>p {
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: rgba(18, 1, 1, 0.46);
}

/* add todo popup */
.add__todo__popup {
    position: absolute;
    top: 30%;
    left: 8vw;
    min-width: 35vh;
    min-height: 50vh;
    background: #ffffff;
    color: #000;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.323);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    z-index: 10;
}
.none{
    display: none;
}
.flex{
    display: flex;
}


.add__todo__content {
    overflow: hidden;
    padding: .5rem;
    
}

.add__todo__content>textarea {
    width: 100%;
    padding: .5vh 1rem;
    background: transparent;
    outline: none;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.add__todo__content > hr {
    width: 100%;
    background: #0a011cc5;
    height: 1px;
}

.add__todo__content>textarea::-webkit-scrollbar {
    width: 6px;
}

.add__todo__content>textarea::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #4fa2d9;
    border-radius: 4px;
}

.add__todo__btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #4fa2d92a;
    /* background-color: #e4efff; */
}

.add__todo__btn>button {
    padding: 10px 20px;
    /* border: none; */
    border-radius: 1rem;
    margin: .5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.323);
    font-weight: 700;
    transition: .5s;
}

.add__todo__btn>button:hover {
    background-color: #4fa2d9;
}

.DT__btn {
    background-color: #4fa2d9;
    box-sizing: border-box;
}

/* reminder */
.DateTimePopUp {
    display: none;
    width: 0;
}

.DateTime {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background: rgb(26, 203, 243); */
    border: 2px solid rgb(116, 192, 250);
    border-radius: .5rem;
    width: fit-content;
    top: -100%;
}

.DateTime .setDate {
    background-color: #ffffff;
}

.DateTime>.btn>button {
    /* width: 50%; */
    /* background: #6bebff; */
    border-radius: .2rem;
    font-weight: 600;
    margin: .1rem;
    padding: 0.3rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.323);
    transition: .5s;
}



/* Todo lists cards*/

.todo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    /* background: #0f25378b; */
}

.todo__list>.todo__card {
    width: 23.5rem;
    min-height: 25vh;
    margin: 1rem;
    background: #3a1b32;
    /* background: #2f2c4e;
    background: #023642; */
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #2f2c4e; */
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.323);
    justify-content: space-between;
    
    transition: 1s;

}

.todo__card__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.todo__card__content>h4 {
    font-size: 1.2rem;
    text-align: center;
    color: #35d77b;
    color: #80e7ad;
}
.todo__card__content > hr {
    width: 100%;
    background: #ffffffc3;
    margin: .5rem 0;
    height: 1px;
}
.todo__card__content pre {
    max-width: 100%;
    text-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
    color: #98f5c1;
    color: #f0fdf5;
    font-family: 'Courier New', Courier, monospace;
}

.todo__card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #98f5c1;
    background: #eae9fdf8;
    background: #e8f9e23d;
}

.todo__card__btn>button {
    border: none;
    background: #35d77b00;
    color: #80e7ad;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.323);
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 3%;
    transition: .5s;
}

.todo__card__btn>button:hover {
    background: #373561;
    color: rgb(255, 255, 255);
}
.todo__card__btn>button:first-child{
    cursor: none;
}
button:disabled {
    background-color: #ccc;
    color: #666;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.6;
}

/* media queries */
@media screen and (max-width: 900px){
    
.todo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: #0f25378b; */
}
}