.Footer {
    width: 100%;
    background: #ffefe5;
    height: 70vh;
    position: relative;
    padding: 1rem;
    border-top: 1px solidrgba(37, 34, 30, 0.7);
}

.upper_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    padding-right: 2.5rem;
    padding-top: 2.5rem;
}
.left .logo{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left > .logo >  .name{
    font-size: 2rem;
    font-family: Impact sans-serif;
    font-weight: bold;
    color: darkmagenta;
}
.upper_content>.Footer_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    /* border: 2px solid red; */
    list-style: none;
    height: 100%;
    gap: 3rem;
    padding: 0 2rem;
}

.upper_content .Footer_links>ul {
    list-style: none;
}
.upper_content .Footer_links>ul> h2 {
    font-family: sans-serif;
    font-weight: bold;
    margin: 2rem auto;
}
.upper_content .Footer_links>ul >li {
    margin: 1rem auto;
}
.upper_content .Footer_links>ul >li:hover {
    text-decoration: underline burlywood;
}

.bottom_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

}

.bottom_footer>.left ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_footer>.left ul>li {
    margin: 0 .5rem;
}
.bottom_footer > .FooterBtn{
    padding: 1rem;
}