nav{
    display: flex;
    align-items: center;
    padding: 1rem ;
    margin: 0 auto;
}
nav .logo{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .logo >  .name{
    font-size: 2rem;
    font-family: Impact sans-serif;
    font-weight: bold;
    color: darkmagenta;
}
nav  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul > li a{
    font-family: sans-serif;
    margin: 0 1rem;
    text-decoration: none;
}
nav ul > li:last-child{
    position: relative;
}
nav ul > li:last-child::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #8b9899fe;
    left: 0;
    top: 0;
}
nav .navBtn{
    margin-left: auto;
}